/* index.css */
/* 반응형 CSS 속성 변경 시 애니메이션 적용 속성 */
body * {transition:all 0.5s;}
/* 1행========================북극곰 후원 안내 */
#wrap {} /* 기본값 유지를 위해 작성하지 않음. 기본값 -> 너비는 부모의 100%, 높이는 내용만큼 */ 
    /* ==============1행 intro */
#wrap .intro {
    height:100vh;
    background:url(../images/bg1.png) no-repeat center / cover;
    position:relative;
}
#wrap .intro::before {
    content:''; display:block; /* 가상요소(after,before)의 필수속성 */
    width:100%; height:100%;
    position:absolute; left:0; top:0; /* 모든 요소의 기본은 왼쪽 상단 */
    background:linear-gradient(360deg, #000, transparent);
    z-index:100;
}
#wrap .intro .container { /* 글자가 더 높게 있으니 z-index 값도 높게 설정! */
    position:relative; z-index:200;
    border:1px solid aqua;
    max-width:1250px;
    min-width:320px;
    margin:0 auto;/* 디바이스 크기보다 width가 작은 블록요소를 가운데 배치하는 방법 */
    /* 형제-형제 margin, 부모-자식 padding */
    padding-top:100px;
    /* 자식, 자손이 인라인일 경우 수평정렬 text-align */
    text-align:center;
    /* 자식의 float 적용으로 인해 부모 바깥으로 나가는 문제해결 */
    overflow:hidden;
}
#wrap .intro .container h1:nth-child(1) {
    text-align:left; margin-bottom:100px;
}
#wrap .intro .container h1:nth-child(1) a {}
#wrap .intro .container h1:nth-child(1) a img {width:89px;}
#wrap .intro .container h1:nth-child(2) {
    color:#fff; font-size:4.375rem; line-height:1.3;
}
#wrap .intro .container h1:nth-child(2) em {
    color:#fff; font-weight:700;
}
#wrap .intro .container .sponsor_btn {
    display:block;
    width:409px; margin:100px auto;
    /* 수직중앙 배치해야하는 글자가 1줄일 경우 height 생략가능. line-height만 px값으로 적용 */
    line-height:71px; 
    color:#fff;
    background:linear-gradient(90deg, #FE9300, #FF7300);
    border-radius:50px;
    font-weight:700; font-size:2.125rem;
}
#wrap .intro .container .sponsor_question {
    float:right; /* btn, question 둘 다 a라 btn 위치 이상해짐 btn 블록으로 만들어줘야함  */
    color:#fff; background:#000;
    width:439px; height:51px; padding-top:10px;
    line-height:1.2; font-size:1.625rem;
    border-radius:30px;
}
/* 2행========================퀴즈 */
#wrap .quiz {
    background:url(../images/quiz_bg.png) center / cover;
    padding:150px 0;
}
#wrap .quiz .container {
    max-width:1250px; 
    min-width:320px;
    margin:0 auto;
    border:1px solid aqua;
    display:grid; /* 왼쪽퀴즈, 오른쪽참여현황 정렬grid */
    grid-template-columns:1fr 1fr;
}
#wrap .quiz .container #left_quiz {}
#wrap .quiz .container #left_quiz * {color:#fff;}
#wrap .quiz .container #left_quiz h2 {
    text-align:center;
    font-size:3.438rem;
    line-height:1.2;
    letter-spacing:-1;
    margin:0 0 38px;
}
#wrap .quiz .container #left_quiz h3 {
    font-size:1.25rem;
    line-height:1.7;
}
#wrap .quiz .container #left_quiz .list {
    display:grid;
    grid-template-rows:repeat(4, 34px);
    margin:8px 0 38px;
}
#wrap .quiz .container #left_quiz .list label {}
#wrap .quiz .container #left_quiz .list label input[value*=q] {display:none;}
#wrap .quiz .container #left_quiz .list label input[value*=q]:checked + span {
    background-image:url(../images/chk_on.png);
}
#wrap .quiz .container #left_quiz .list label span {
    background-image:url(../images/chk_off.png);
    display:block;
    /* 배경반복 + 왼쪽여백 + 왼쪽여백 + 행간 설정 */
    background-repeat:no-repeat;
    line-height:34px;
    padding-left:48px;
    background-position-y:5px;
}
#wrap .quiz .container #left_quiz #answer_btn {
    background-color:#050505; 
    width:100%; height:54px; border-radius:50px;
}
#wrap .quiz .container .right {text-align:right;}
#wrap .quiz .container .right p {}
#wrap .quiz .container .right p:nth-child(1) {}
#wrap .quiz .container .right p:nth-child(1) img {}
#wrap .quiz .container .right p:nth-child(2) {
    color:#fff;
    margin-top:20px;
}
/* 3행========================새끼북극곰 이야기 */
#wrap .ad {
    background:url(../images/video_bg.png) right / cover;
    padding:200px 0;
}
#wrap .ad .container {
    max-width:1250px; min-width:320px;
    margin:0 auto; text-align:center;
    border:1px solid coral;
}
#wrap .ad .container h2 {
    font-size:3.438rem;
    line-height:1.2;
    letter-spacing:-1;
    font-weight:500;
}
#wrap .ad .container iframe {
    width:100%; max-width:900px; height:600px; /* iframe안에 가로세로크기가 적혀있어서 세로크기도 적어준 것 */
    margin-top:70px;
}
#wrap .ad .container .sponsor_btn {
    display:block;
    width:409px; margin:70px auto 0;
    line-height:71px; 
    color:#fff;
    background:linear-gradient(90deg, #FE9300, #FF7300);
    border-radius:50px;
    font-weight:700; font-size:2.125rem;
}
/* 4행========================빙하면적감소 */
/* 5행========================인류재앙 */
#wrap .disaster {
    background:#F5F5F5;
    padding:200px 0;
}
#wrap .disaster .container {
    border:1px solid red;
    max-width:1250px; min-width:320px;
    /* 최소 320~최대 1250 사이 너비값은 가변형 세팅 */
    /* (위)큰 범위값 세팅 후 @media 규칙내에서 태블릿, 모바일에 맞는 레이아웃 재수정하며 반응형 제작 */
    margin:0 auto;
    text-align:center;
}
#wrap .disaster .container h2 {
    font-size:3.438rem;
    font-weight:500;
    letter-spacing:-0.1;
}
#wrap .disaster .container > p {
    line-height:1.7;
    font-size:1.25rem;
    margin:55px 0;
}
#wrap .disaster .container .list {
    display:flex; 
    /* 옆으로 정렬하는 대상(li)의 부모(flex) */
    /* flex의 자식요소들을 옆으로 정렬(기본값) flex-flow:row nowrap; */
    gap:20px;
}
#wrap .disaster .container .list li {
    background:#fff;
    flex:1;
}
#wrap .disaster .container .list li .bg {
    height:320px;
    background-position:0 55%;
    background-size:cover;
    position:relative;
    padding:48px 0;
}
#wrap .disaster .container .list li .bg::before {
    content:''; display:block; z-index:50;
    position:absolute; left:0; top:0; width:100%; height:100%;
    /* (위) content~height속성까지 before 또는 after 가상요소 사용 시 필수속성 모음 */
    background:linear-gradient(#000 19%, transparent 55%)
    /* background:linear-gradient(#첫번째색상 위치%, #두번째색상 위치%) */
}
#wrap .disaster .container .list li .bg h3 {
    color:#fff; position:relative; z-index:60;
    /* z-index속성은 position속성이 선행되어야만 사용할 수 있는 중첩순서이다. */
    font-size:2.688rem; font-weight:700;
    margin-bottom:11px;
}
#wrap .disaster .container .list li .bg p {
    color:#fff; position:relative; z-index:60;
    line-height:1.7;
    font-size:1.25rem;
}
#wrap .disaster .container .list li > p {
    height:250px;
    padding:20px;
    line-height:1.7;
    font-size:1.25rem;
    letter-spacing:0.2;
}
/* 5행 개별 배경 선택자 */
#wrap .disaster .container .list li:nth-child(1) .bg {
    background-image:url(../images/28.png);
}
#wrap .disaster .container .list li:nth-child(2) .bg {
    background-image:url(../images/27.png);
}
#wrap .disaster .container .list li:nth-child(3) .bg {
    background-image:url(../images/wwf.jpg)
}
/* 6행========================지구위기 */
/* 7행========================WWF단체홍보 */
/* 8행========================다양한활동 */
/* 9행========================감사선물 */
/* 10행========================결제 안내사항 */